<section ng-controller="content" class="container">

    <h2>Job applicants</h2>
    <div class="list-group">

        <a href="#/application/{{application.id}}" class="list-group-item" ng-repeat="application in jobapplications">
            <span class="badge">{{application.status.name}}</span>
            <h4 class="list-group-item-heading">{{application.person.firstName}} {{application.person.lastName}}</h4>
            <p class="list-group-item-text">{{application.availableForWork.fromDate  | date:'yyyy-MM-dd'}} <b>-</b> {{application.availableForWork.toDate  | date:'yyyy-MM-dd'}} </p>
        </a>


    </div>
    <ul class="pagination">
        <li ><a ng-click="changePage('1')" >1</a></li>
        <li ><a ng-click="changePage('2')">2</a></li>
    </ul>
</section>